@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

/*header*/
header{
  display: flex;
  justify-content: center; width: 100vw;
  margin-top:51px ;
}

.nav__head{
  margin: 0 129px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size:28px;
}

.nav__head a{
  text-decoration: none;
  color: black;
}

ul.nav-header{
  display: flex;
align-items: center;
}

.nav-header li{
  list-style: none;
  margin: 0 66px;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
}

.nav-header li a{
  text-decoration: none;
  color: black;
}
/*header*/

/*mainContent*/

.main__content{
  display: flex;
  justify-content:center;
  margin-top:30px ;
  align-items: center;
}

.main__content-text{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  width:60vw;
  gap: 0px;
  height: 100%;
}



.main__head{

  margin-top: 10px;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 480px;
  grid-row-end: 2;
  grid-column-end: 2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}

.main__text{


  grid-row-start: 1;
  grid-column-start: 1;
  margin-top:50px ;

  grid-row-end: 3;
  grid-column-end: 1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

.main__img{
  width: 325px;
  height: 325px;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 3;
}

/*mainContent*/


.form-group{
 display: flex;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  margin-left:305px;
  margin-top:-200px;
}

.teacher__link{

  width: 388px;
  height: 64px;
padding: 17px 116px;
  background: #4DAEEB;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

/* text field */
.text-field {
  margin-bottom: 1rem;

}

.text-field__label-1 {
  display: block;
  margin-bottom: 1.3rem;
}

.text-field__label{
  display: block;
  margin-bottom: 0.25rem;
  margin-top:38px ;
}

.text-field__input {
  display:flex;
  width: 205px;
  height:65px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;

}



.text-field__input::placeholder {
  width: 172px;
  height: 27px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  color: rgba(30, 30, 30, 0.71);
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

/* with button */
.text-field__group {
  display: flex;
}

.text-field__btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #eee;
  border: 1px solid #bdbdbd;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out;
}

.text-field__btn:hover {
  background-color: #bdbdbd;
}

.text-field__group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
}

.text-field__btn {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  width: 177px;
  height: 65px;
color: white;  background: #607D8B;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}


/*Description*/
.container__desc{
  margin-top: 51px;
}

.description{
  width: 93vw;
  height: 400px;
  margin-left:45px;
  background: url('./img/img_1.png');
  border-radius: 10px;
}

.desc__head{
  width: 273px;
  height: 45px;
margin-left: 45px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

}

.description__content{
  margin-left:77px ;
  margin-top:25px;
  position: absolute;
  width: 600px;

}

.description__content-head{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.description__content-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color:white;
  margin-top: 20px;
}


.card__description{
  margin-top: 79px;
  margin-left: 45px;
  display: inline-grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

.card__img{
  width: 150px;
  height: 150px;
  border-radius: 10px;


  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.card__head{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  /* identical to box height */


  color: #000000;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}

.card__text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;

  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}

.card__link{

  width: 171px;
  height: 38px;
text-align:center;
  align-items: center;
  background: #4DAEEB;
  padding-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}

/*Description*/


/*Session*/


.session__head{
  width: 530px;
  height: 60px;

  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

}

.session{
  margin-top: 50px;
  margin-left: 293px;
}

.session__list li{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 40px 0px;
}

.session__img {
  width: 16px;
  height: 20px;
  padding-right:3px;
}

.session__dependencies{
  position: absolute;
  margin-left:680px ;
  margin-top:-300px ;
}

.session__people{
  /*position: absolute;*/
  width: 270px;
  height: 155px;

}

.session__add{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
}

.session__add img{
  width: 21px;
  height: 21px;
  padding-right:10px;
}

.session__delete{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.session__delete img{
  width: 21px;
  height: 21px;
  padding-right:10px;
}
/*Session*/

.quizz__container{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
}

.quizz__main{
  background: turquoise;
  width: 450px;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow:10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.quizz{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.question__section{
  flex: 0 0 50%;
}

.question__count{
  margin-bottom: 20px;
}

.question__count span{
  font-size:20px;
}

.question__text{
  margin-bottom: 15px;
}

.answer__section{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  width: 100%;
  font-size:16px ;
  color: blanchedalmond;
  background-color:turquoise;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #2a2a2a;
  margin: 5px 0;
  outline: none;
}


.section__score{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  font-size:24px ;
  width:100%;
}

.refresh__btn{
  margin-top: 25px;
}
